@import "./utils/variables";
body
{
    margin: 0;
}
/*mixin Logo*/
@mixin logo
{
    font-family: $logo-font;
    font-size: 1em;
    line-height: 70px;
    height: 70px;
    text-align: center;
    width: 100%;
}
/*mixin Réservez le menu*/
@mixin reserv
{
    width: 60%;
    flex-wrap: wrap;
    font-family: $main-font;
    text-align: center;
}
/*mixin button*/
@mixin button
{
    width: 230px;
    height: 45px;
    border-radius: 25px;
    background: linear-gradient(to top left, $primary-color, $secondary-color);
    color: white;
    font-family: $main-font;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    box-shadow: 2px 1px 7px grey;
    transition: background-color 0.5s ease, box-shadow 0.5s ease;
}
/*Logo main page*/
.logo_main
{
    @include logo;
    box-shadow: 0px 0px 5px rgb(153, 153, 153);
}
.logo_main h1, .logo_arrow h1
{
    margin: 0;
}
/*Logo another pages*/
.logo_second
{
    display: flex;
    flex-direction: row;
}
.logo_arrow
{
    position: relative;
    @include logo;
}

.link_arrow:active, .logo_arrow:visited
{
    color: black;
    position: absolute;
}
.link_arrow:hover
{
    color: black;
}

/*Geolocalisation*/
.geo
{
    height: 45px;
    width: 100%;
    background-color: #ecebeb;
    margin-top: 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.text_geo
{
    font-family: $main-font;
    font-weight: 500;
    font-size: 20px;
}
.fa-map-marker-alt
{
    margin-right: 10px;
}
/*Reservation + button*/
.reserv
{
    height: 230px;
    width: 100%;
    background-color: #f6f3f3;
    display: flex;
    flex-direction: column;
    @media screen and(max-width: 768px)
    {
        height: 280px;
    }
    @media screen and(max-width: 480px)
    {
        height: 300px;
    }
    @media screen and(max-width: 320px)
    {
        height: 330px;
    }
    @media screen and(max-width: 320px)
    {
        height: 350px;
    }
    @media screen and(max-width: 256px)
    {
        height: 380px;
    }
}
.reserv_title
{
    margin: 0% auto;
    padding-top: 40px;
    @include reserv;
}
.reserv_text
{    @include reserv;
     margin: 20px auto;
}
.button_rose
{
    @include button;
    margin: 25px auto ;
}
.button_rose:hover
{
    background: linear-gradient(to top left, #df96ca, $secondary-color);
    box-shadow: 3px 3px 10px rgb(116, 115, 115);
}
/*Fonctionnement*/
.fonctionnement_main
{
    width:95%;
    margin: 10px auto;
    font-family: $main-font;
}
.fonctionnement_body
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media screen and (max-width:1024px)
    {
        flex-direction: column;
    }
}
.fonctionnement_main h2
{
    @media screen and (max-width:1024px)
    {
        margin-left: 15px;
    }
    @media screen and (max-width:480px)
    {
        margin-left: 7px;
    }
}
.choose
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 30%;
    position: relative;
    background-color: #f2f2f2;
    border-radius: 25px;
    height: 70px;
    transition: background-color 0.5s ease;
    cursor: pointer;
    box-shadow: 1px 2px 7px rgb(206, 206, 206);
    @media screen and (max-width:1024px)
    {
        width: 90%;
        margin-left: 15px;
        margin-bottom: 25px;
    }
    @media screen and (max-width:480px)
    {
        margin-left: 20px;
        width: 91%;
    }
    @media screen and (max-width:300px)
    {

        width: 90%;
    }
}
.choose:hover
{
    background-color: lighten($primary-color,30);
}

.violet_number
{
    width: 25px;
    height: 25px;
    border-radius: 25px;
    line-height: 25px;
    background-color: $primary-color;
    color: white;
    text-align: center;
    position: absolute;
    left:-12px;
    top: 23px;
    z-index: 2;
}
.fonctionnement_icone
{   position: absolute;
    left: 25px;
    top: 23px;
    font-size: 20px;
    color: grey;
}
.fonctionnement_texte
{
    position: absolute;
    left: 65px;
    top: 8px;
    font-size: 18px;
    @media screen and (max-width:300px)
    {
        font-size: 15px;
        line-height: 25px;
    }
    @media screen and (max-width:267px)
    {
        font-size: 15px;
        top: 1px;
    }
}






